/* PLAYER */
.scrubber .whatched {
	height: 60%;
}

.scrubber .buffered {
	height: 60;
}

.scrubber {
	height: 0.2 em;
}

.controlsContainer {
	height: 3 em;
}

.scrubber .playhead {
	top: px;
	width: 10 px;
	height: 10 px;
}

.btn {
	font size: 0.8 em;
}
	

/* SUBTITLES */
.captionsOverlay .track {opacity:1!important;}
.captionsOverlay .ttmlStyled {font-family: Arial, Helvetica, sans-serif !important;
	text-shadow: rgb(0,0,0) 0px 0px 20px, rgb(0,0,0) 0 0 5px, rgb(0,0,0) 0 0 4px, rgb(0,0,0) 0 0 4px !important;
}
